*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#4bd899 0%, #5378de 100%);
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: white;
}
.header__content {
  width: 75%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em;
}
.header__content__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__logo__img {
  width: 120px;
}
.header__content__menu {
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, #4bd899 0%, #5378de 100%);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.header__content__menu:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  // color: #000;
}
.header__content__nav {
  display: flex;
  align-items: center;
}
.header__content__nav .header__nav__link__btn {
  display: none;
}
.header__content__nav__link {
  padding: 0 1em;
  height: 38px;

  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 300ms ease-in-out;
  font-weight: 500;
}
.header__content__nav__link:hover {
  transition: 300ms ease-in-out;
  color: #4bd899;
}
.header__content__nav .header__content__cta__button {
  display: none;
}
.header__content__cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__cta__button {
  height: 38px;
  padding: 0 2em;
  background: linear-gradient(90deg, #10cdbb 0%, #4c51c4 100%);
  border: none;
  border-radius: 5px;
  margin-left: 1em;
  display: flex;
  align-items: center;
  color: white !important;
  text-decoration: none;

  font-weight: 500;
  border: 1px solid transparent;
  transition: 300ms ease-in-out;
  font-weight: bold;
}
.header__content__cta__button:hover {
  transition: 300ms ease-in-out;
  background-color: #fff;
  color: rgb(39, 39, 39) !important;
  border: 1px solid transparent;
  font-weight: bold;
}
.header__content__overlay {
  position: absolute;
  top: 6em;
  left: 0px;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  animation: header__content__overlay__animation 500ms both;
  box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.1);
}
@keyframes header__content__overlay__animation {
  from {
    opacity: 0;
    top: 5em;
  }
  to {
    opacity: 1;
    top: 6em;
  }
}
.header__content__overlay__content {
  width: 100%;
  max-width: 1500px;
  padding: 3em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em auto;
}
.header__content__overlay__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 100%;
  max-width: 300px;
  padding: 2em;
  margin: 1em;
  text-align: center;
}
.header__content__overlay__entry__heading {
  margin: 1em 0em;
  color: black;
  font-weight: bold;
}
.header__content__overlay__entry__info {
  font-size: 14px;
  color: white;
  opacity: 0;
}
.header__content__overlay__entry:hover {
  transition: 500ms ease-in-out;
  background: #3bba9c;
  box-shadow: 8px 13px 18px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  transform: scale(1.1);
}
.header__content__overlay__entry:hover
  .header__content__overlay__entry__icon
  * {
  transition: 300ms ease-in-out;
  fill: white;
}
.header__content__overlay__entry:hover
  .header__content__overlay__entry__heading {
  transition: 300ms ease-in-out;
  color: white;
}
.header__content__overlay__entry:hover .header__content__overlay__entry__info {
  transition: 300ms ease-in-out;
  opacity: 1;
}
.header__nav__link__btn {
  position: relative;
  padding: 12px 36px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 1em;
}

.header__nav__link__btn span {
  position: relative;
  color: #fff;
  font-size: 12px;
  z-index: 1;
}

.header__nav__link__btn .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(90deg, #10cdbb 0%, #4c51c4 100%);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

// .header__nav__link__btn .liquid::after,
// .header__nav__link__btn .liquid::before {
//   content: "";
//   width: 200%;
//   height: 200%;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, -75%);
//   background: #fff;
// }

// .header__nav__link__btn .liquid::before {
//   border-radius: 45%;
//   background: rgba(255, 255, 255, 0.3);
//   animation: animate 5s linear infinite;
// }

.header__nav__link__btn .liquid::after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 10s linear infinite;
}

.header__nav__link__btn:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.home {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}
.home__container__content {
  position: absolute;
  top: 20%;
  color: #fff;
  left: 15%;
}
.home__container__heading {
  font-size: 40px;
  font-weight: 700;
  width: 70%;

  margin-bottom: 0.5em;
}
.home__container__info {
  font-weight: 500;
  width: 55%;

  margin-bottom: 1em;
}
.home__section__buttons {
  display: flex;
  align-items: center;
}
.home__section__buttons__btn {
  cursor: pointer;
  --color: white;
  font-family: inherit;
  display: inline-block;
  width: fit-content;
  padding: 1em 2em;
  // margin: 0em 0.8em;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  border: none;
  text-decoration: none;
  text-align: center;
  height: 45px;
}
.home__section__buttons__btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 150%;
  border-radius: 50%;
}

.home__section__buttons__btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.home__section__buttons__btn:hover:before {
  top: -30px;
  left: -30px;
}

.home__section__buttons__btn:active:before {
  background: linear-gradient(90deg, #10cdbb 0%, #4c51c4 100%);
  transition: background 0s;
}
.home__section__buttons__btn:disabled:before {
  background: #242424;
}
.home__section__buttons__btn__primary {
  padding: 0.7em 2em;
  background: linear-gradient(90deg, #10cdbb 0%, #4c51c4 100%);
}
.home__section__buttons__btn__primary:hover {
  color: #4c51c4;
}
.home__section__buttons__btn__secondary::before {
  background: linear-gradient(90deg, #10cdbb 0%, #4c51c4 100%);
}
.home__section__buttons__btn__primary::before {
  background: white;
}
.home__section__buttons__btn__secondary {
  background: linear-gradient(90deg, #4c51c4 0%, #10cdbb 100%);
  color: #fff;
}
.home__section__buttons__btn__secondary:disabled {
  background: #242424;
}
.home__section__buttons__btn__secondary:hover {
  color: #ffffff;
}
.home__container__img img {
  width: 100%;
  object-fit: contain;
}
.idea {
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
  padding-top: 6em;
  padding-bottom: 6em;
  align-items: center;
  display: flex;
  overflow: hidden;
}
.contact__form__btn {
  display: flex;
  justify-content: end;
  margin-right: 1.3em;
  margin-top: 20px;
  margin-bottom: 10px;
}
.idea__content {
  position: absolute;
  top: 30%;
  left: 5%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 85%;
}
.idea__content__logo {
  margin: 1em;
}
.idea__content__heading {
  font-size: 30px;
  width: 50%;

  font-weight: bold;
  color: #4365c3;
}

.idea__content__info {
  text-align: justify;
  width: 60%;
  margin-right: 4em;
}
.idea__img {
  width: 100%;
}
.idea__img img {
  filter: grayscale(100%);
  min-width: 100%;
  min-height: 100%;
}
.services {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.services__heading {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 1em;
}
.services__background {
  align-items: center;
  display: flex;
  margin-top: 6em;
  justify-content: center;
}
.services__background img {
  height: 100%;
  z-index: -5;
}
.services___Content {
  display: flex;
  width: 100%;
  max-width: 1240px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16%;
  margin-bottom: 5em;
  left: calc(50% - 620px);
}
.services__card {
  display: flex;
  width: 33%;
  background-color: #fff;
  padding: 2.5em 2em;
  border-radius: 15px;
  color: #000;
  box-shadow: 0px 10px 30px rgba(14, 14, 14, 0.1);
  margin: 2em;
  cursor: pointer;
  min-height: 250px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
// .services__card:after {
//   content: "";
//   background-color: rgba(255, 255, 255, 0.9);
//   position: absolute;
//   top: 6%;
//   left: 4%;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   border-radius: 15px;
//   box-shadow: 0px 10px 30px rgba(14, 14, 14, 0.1);
// }
// .services__card::before {
//   content: "";
//   background-color: rgba(255, 255, 255, 0.7);
//   position: absolute;
//   top: 12%;
//   left: 8%;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   border-radius: 15px;
//   box-shadow: 0px 10px 30px rgba(14, 14, 14, 0.1);
// }
.services__card:hover {
  background-color: #3bba9c;
  fill: #000;
  color: #fff;
  transform: scale(1.05);
}
.services__card:hover::after {
  background-color: rgb(59, 186, 156, 0.5);
}
.services__card:hover::before {
  background-color: rgb(59, 186, 156, 0.5);
}
.services__card__heading {
  font-size: 18px;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.services__card__svg {
  margin-right: 1em;
}
.services__card:hover .services__card__svg * {
  fill: #fff;
}
.services__card__info {
  font-size: 14px;
}
.expertise {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.expertise__heading {
  position: absolute;
  top: 15%;
  left: 42%;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
}
.expertise__content {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  top: 35%;
  left: 10%;
}
.expertise__content__card {
  width: 20%;
  background-color: #fff;
  padding-top: 2em;
  padding: 1em;
  justify-content: center;
  align-items: center;
  display: grid;
  min-height: 300px;
  padding-bottom: 3em;
  border-radius: 15px;
  color: #000;
  box-shadow: 0px 10px 30px rgba(14, 14, 14, 0.1);
  margin: 1em;
  cursor: pointer;
  transition: 300ms ease-in-out;
  text-align: center;
}
.expertise__content__card__svg__two {
  display: none;
}
.expertise__content__card:hover {
  background-color: #3b99a5;
  fill: #000;
  color: #fff;
  scale: 1.1;
  transition: 300ms ease-in-out;
}

.expertise__content__card:hover .expertise__content__card__svg__two {
  display: inline;
}
.expertise__content__card:hover .expertise__content__card__svg {
  background-color: #3b99a5;
  display: none;
  color: #fff;
  transition: 300ms ease-in-out;
}
.expertise__content__card__title {
  display: none;
}
.expertise__content__card:hover .expertise__content__card__title {
  display: flex;
}
.expertise__content__card__heading {
  font-weight: bold;
  margin: 10px 0px;
}
.office {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  position: relative;
  overflow: hidden;
}

.office__content__heading {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 1em;
}
.office__content__svg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.office__content__button__one {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 60%;
  background-color: transparent;
  border: 1px solid transparent;
}
// .office__content__button__ones{
//   top: 4%;
//   left: 65%;
//   width: 80px;
//   height: 80px;
// }
.office__content__button__two {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 32%;
  background-color: transparent;
  border: 1px solid transparent;
}
.office__content__button__three {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 28%;
  left: 50%;
  background: transparent;
  border: none;
}
.office__content__button__one__one {
  border: 1px solid transparent;
  background-color: transparent;
}
.office__content__button__one__two {
  width: 70px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}
.office__content__button__one__three {
  width: 70px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}
.office__content__button__one__content__heading {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: start;
  margin-bottom: 1em;
}
.office__content__button__one__content__info {
  font-size: 15px;
  color: #fff;
  text-align: start;
}
.office__content__button__one__content {
  display: none;
  margin-left: 4em;
  position: absolute;
  top: 1%;
  background-color: #4e84ad;

  width: 250px;
  padding: 2em;
  border-radius: 10px;
}
.office__content__button__two__content__heading {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: start;
  margin-bottom: 1em;
}
.office__content__button__two__content__info {
  font-size: 15px;
  color: #fff;
  text-align: start;
}
.office__content__button__two__content {
  display: none;
  margin-left: 4em;
  position: absolute;
  top: 1%;
  background-color: #4e84ad;

  width: 250px;
  padding: 2em;
  border-radius: 10px;
}
.office__content__button__three__content__heading {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: start;
  margin-bottom: 1em;
}
.office__content__button__three__content__info {
  font-size: 15px;
  color: #fff;
  text-align: start;
}
.office__content__button__three__content {
  display: none;
  margin-left: 4em;
  position: absolute;
  top: 1%;
  background-color: #4e84ad;
  z-index: 9999;
  width: 250px;
  padding: 2em;
  border-radius: 10px;
}

.office__content__button__four__content {
  display: none;
  margin-left: 4em;
  position: absolute;
  top: 1%;
  background-color: #4e84ad;

  width: 250px;
  padding: 2em;
  border-radius: 10px;
}
.office__content__button__four {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 55%;
  background: transparent;
  border: none;
}
.office__content__button__one__four {
  width: 60px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  opacity: 100;
  background-color: transparent;
  border: 1px solid transparent;
}
.office__content__button__four__content__heading {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: start;
  margin-bottom: 1em;
}
.office__content__button__four__content__info {
  font-size: 15px;
  color: #fff;
  text-align: start;
}
.office__content__button__four__content {
  display: none;
  margin-left: 4em;
  position: absolute;
  top: 1%;
  background-color: #4e84ad;

  width: 250px;
  padding: 2em;
  border-radius: 10px;
}

.office__content__button__five__content {
  display: none;
  margin-left: 4em;
  position: absolute;
  top: 1%;
  background-color: #4e84ad;

  width: 250px;
  padding: 2em;
  border-radius: 10px;
}
.office__content__button__five {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 45%;
  background: transparent;
  border: none;
}
.office__content__button__one__five {
  width: 60px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  opacity: 100;
  background-color: transparent;
  border: 1px solid transparent;
}
.office__content__button__five__content__heading {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: start;
  margin-bottom: 1em;
}
.office__content__button__five__content__info {
  font-size: 15px;
  color: #fff;
  text-align: start;
}
.office__content__button__five__content {
  display: none;
  margin-left: 4em;
  position: absolute;
  top: 1%;
  background-color: #4e84ad;
  width: 250px;
  padding: 2em;
  border-radius: 10px;
}

.office__content__button__six__content {
  display: none;
  margin-left: 4em;
  position: absolute;
  top: 1%;
  background-color: transparent;

  width: 250px;
  padding: 2em;
  border-radius: 10px;
}
.office__content__button__six {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 25%;
  background: transparent;
  border: none;
}
.office__content__button__one__six {
  width: 60px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  opacity: 100;
  background-color: transparent;
  border: 1px solid transparent;
}
.office__content__button__six__content__heading {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: start;
  margin-bottom: 1em;
}
.office__content__button__six__content__info {
  font-size: 15px;
  color: #fff;
  text-align: start;
}
.office__content__button__six__content {
  display: none;
  margin-left: 4em;
  position: absolute;
  top: 1%;
  background-color: #4e84ad;

  width: 250px;
  padding: 2em;
  border-radius: 10px;
}

.office__content__button__one:hover .office__content__button__one__content {
  display: inline;
}

.office__content__button__two:hover .office__content__button__two__content {
  display: inline;
}
.office__content__button__three:hover .office__content__button__three__content {
  display: inline;
}
.office__content__button__four:hover .office__content__button__four__content {
  display: inline;
}
.office__content__button__five:hover .office__content__button__five__content {
  display: inline;
}
.office__content__button__six:hover .office__content__button__six__content {
  display: inline;
}

.office__content__button__one:hover {
  background: #4bd89990;
  transition: 400ms ease-in-out;
}
.office__content__button__two:hover {
  background: #4bd89990;
  transition: 400ms ease-in-out;
}
.office__content__button__three:hover {
  background: #4bd89990;
  transition: 400ms ease-in-out;
}
.office__content__button__four:hover {
  background: #4bd89990;
  transition: 400ms ease-in-out;
}
.office__content__button__five:hover {
  background: #4bd89990;
  transition: 400ms ease-in-out;
}
.office__content__button__six:hover {
  background: #4bd8999e;
  transition: 400ms ease-in-out;
}

.form {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  position: relative;
}
.form__img img {
  width: 100%;
  height: 700px;
}
.form__content {
  display: flex;
  margin-bottom: -1em;
}
.form__content__left {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 13%;
}
.form__content__right {
  width: 35%;
  background-color: #fff;
  padding: 1.3em;
  position: absolute;
  top: 8%;
  margin: 1em;
  left: 50%;
  box-shadow: 0px 10px 30px rgb(14, 14, 14, 0.1);
  border-radius: 18px;
}
.form__content__right__inputs {
  display: flex;
}
.form__content__heading {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
.form__content__right__heading {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin: 0.5em;
}
.form__content__right__form__heading {
  font-size: 14px;
  margin-left: 0.5em;
  color: #000;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.form__content__right__form {
  width: 100%;
  margin: 10px;
}
.form__content__right__form__input input {
  width: 100%;
  padding: 0px 1.5em;
  height: 45px;
  color: rgb(180, 175, 175);
  text-align: flex-start;
  border-radius: 50px;
  font-size: 14px;
  border: none;
  background-color: rgb(247, 247, 247);
  // padding-left: 3em;
}
.form__content__right__form__input__phone input {
  width: 100%;
  padding: 0px 1.5em;
  height: 45px;
  color: rgb(180, 175, 175);
  text-align: flex-start;
  border-radius: 50px;
  border: none;

  background-color: rgb(247, 247, 247);
  padding-left: 4em;
}
.form__content__right__form__input .PhoneInput {
  margin-left: 0.5em;
}
.form__content__right__form__input input:focus {
  outline: 1px solid #5378de;
}
.form__content__right__form__input__phone input:focus {
  outline: 1px solid #5378de;
}
.form__content__right__button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.PhoneInputCountry {
  margin-left: 1em;
  position: absolute !important;
  margin-top: 0.9em;
}
.form__content__right__button button {
  width: 30%;

  padding: 10px;
  margin: 1em;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 300ms ease-in-out;
  background: linear-gradient(90deg, #4bd899 0%, #5378de 100%);
}
.form__content__right__button button:hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(90deg, #5378de 0%, #4bd899 100%);
}
.footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.footer__left__img img {
  height: 380px;
}
.footer__content {
  display: flex;
  position: absolute;
  top: 10%;
}
.footer__right {
  display: flex;
}
.footer__right__heading {
  font-size: 25px;
  font-weight: bold;
  color: #5378de;
  margin: 0.5em;
  margin-right: 3em;
  width: 80%;
}
.footer__right__all__tags {
  margin-left: -5px;
}
.footer__right__content__tag {
  margin: 1em;
  margin-bottom: 2em;
}
.footer__right__content__tag a {
  color: #fff;
  display: flex;
  align-items: center;
}
.footer__right__content__tag a svg {
  margin-right: 0.5em;
}
.footer__right__content__tag a:hover {
  color: #4c51c4;
}
.footer__right__input__button {
  margin-left: 10px;
}
.footer__right__input__button input {
  padding: 1em 2em;
  outline: none;
  border-radius: 50px;
}
.footer__right__input__button button {
  padding: 1em;
  margin-top: 7px;
  margin-left: 9em;
  outline: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #4bd899 0%, #5378de 100%);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.footer__right__input__button button:hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(90deg, #5378de 0%, #4bd899 100%);
}
.footer__right__heading__and__tags {
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__right__span {
  width: 30%;
  height: 3px;
  border-radius: 50px;
  background-color: #0ed1bb;
  margin-bottom: 2em;
  margin-left: 1em;
}
.footer__background {
  margin-bottom: -1em;
}
.selectpicker {
  margin-left: 4em;
}
.header__content__cta__button {
  margin-right: 2em;
}
.bootstrap-select > .btn {
  margin-top: 0.7em;
}

.Career__page {
  width: 100%;

  max-width: 1920px;
  margin: 0 auto;
}
.career__page__img {
  position: relative;
}
.career__page__heading {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 35%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Career__page__content__section {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.Career__page__content__left {
  width: 90%;
}
.Career__page__content__left__heading {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 0.6em;
}
.Career__page__content__left__info {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
  padding-bottom: 1em;
}
.Career__page__content__right {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.Career__page__content__left__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Career__page__content__left__button button {
  padding: 1em 3em;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #4bd899;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 300ms ease-in-out;
}
.Career__page__content__left__button button:hover {
  transition: 300ms ease-in-out;
  background-color: #5378de;
}

@media (max-width: 1500px) {
  .expertise__content__card {
    margin: 1em;
    width: 20%;
  }
  .expertise__content {
    width: 90%;
    left: 5%;
  }
  .footer__right__heading__and__tags {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1366px) {
  .services___Content {
    left: 0px;
  }
}
@media (max-width: 1400px) {
  .services__card {
    width: 25%;
  }
  .footer__background img {
    height: 350px;
  }
  .footer__left__img img {
    height: 310px;
  }
  .footer__right__heading {
    font-size: 20px;
  }
}

@media (max-width: 1320px) {
  .form__content__right__form__heading {
    font-size: 14px;
  }
}

@media (max-width: 1250px) {
  .home__container__heading {
    font-size: 36px;
    font-weight: 700;
    width: 50%;
    margin-bottom: 0.5em;
  }
  .home__container__info {
    width: 55%;
  }
  .home__container__img img {
    height: 400px;
    object-fit: cover;
  }
  .header__content {
    width: 100%;
  }
  .idea__content__heading {
    width: 65%;
  }
  .services__card {
    width: 32%;
  }
  .footer__right__heading__and__tags {
    padding: 1.5em;
  }
  .footer__right__input__button input {
    padding: 1em;
  }
  .form__content__right {
    width: 40%;
  }
}
@media (max-width: 1150px) {
  .idea__content__info {
    margin-right: 0em;
  }
  .idea__content__heading {
    font-size: 30px;
  }
  .services__card {
    margin: 1em;
  }
  .expertise__content {
    flex-wrap: wrap;
  }
  .expertise__img img {
    height: 900px;
  }
  .expertise__content__card {
    margin: 1em;
    width: 25%;
  }
  .footer__right__heading__and__tags {
    padding: 1em;
  }
  .footer__left__img img {
    height: 260px;
  }
  .footer__background img {
    height: 310px;
  }
  .footer__left__img img {
    height: 275px;
  }
}
@media (max-width: 1080px) {
  .office__content__button__one__content {
    top: 120%;
    right: -100%;

    z-index: 999;
  }
  .office__content__button__three__content {
    top: -240%;
    right: -120%;
    z-index: 999;
  }
  .office__content__button__four__content {
    top: 120%;
    right: -120%;
    z-index: 999;
  }
  .office__content__button__five__content {
    top: 120%;
    right: -130%;
    z-index: 999;
  }
  .office__content__button__six__content {
    top: 120%;
    right: -100%;
    z-index: 999;
  }
  .office__content__button__two__content {
    top: -240%;
    right: -120%;
    z-index: 999;
  }
  .footer__left {
    display: none;
  }
  .footer__right__heading__and__tags {
    margin-left: 2em;
  }
  .form__content__right {
    width: 46%;
  }
}
@media (max-width: 1000px) {
  .header__content__overlay {
    min-height: 100vh;
    padding-bottom: 5em;
  }
  .header__content__overlay__content {
    flex-direction: column;
  }
  .header__content__menu {
    display: flex;
  }
  .header__content__nav {
    flex-direction: column;
    position: absolute;
    top: 5em;
    left: 0px;
    background: white;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 0 2em 1.5em;
    animation: header__content__nav__animation 500ms both;
    transform-origin: top;
    z-index: 999;
  }
  @keyframes header__content__nav__animation {
    from {
      opacity: 0;
      top: 5em;
    }
    to {
      opacity: 1;
      top: 6em;
    }
  }
  .header__content__nav__link {
    width: 100%;
    justify-content: center;
  }
  .services__background {
    height: 650px;
  }
  .services___Content {
    flex-wrap: wrap;
  }
  .services__card {
    width: 40%;
  }
  .footer__right {
    flex-wrap: wrap;
  }
  .footer__right__heading__and__tags {
    width: 40%;
  }
  .footer__background img {
    height: 612px;
    width: 100%;
  }
  .footer__right__heading__and__tags {
    width: 40%;
  }
  .header__content__cta__button {
    margin-right: 0em;
  }
  .row {
    display: none;
  }
}

@media (max-width: 960px) {
  .home__container__content {
    left: 5%;
  }
  .idea__content__heading {
    font-size: 30px;
  }
  .idea__content__info {
    width: 65%;
  }
  .idea__content__logo {
    margin: 1em 0em;
  }
  .form__content__right__inputs {
    display: contents;
  }
  .form__content__right {
    padding-right: 3em;
    top: 1%;
  }
  .form__content__heading {
    font-size: 30px;
  }
}
@media (max-width: 860px) {
  .home__container__heading {
    font-size: 30px;
  }
  .idea__content__heading {
    font-size: 25px;
  }
  .footer__right__heading__and__tags {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .services__card {
    width: 45%;
  }
  .expertise__content__card {
    width: 35%;
  }
  .expertise__heading {
    top: 5%;
    left: 32%;
  }
  .expertise__content {
    top: 15%;
  }
  .expertise__img img {
    height: 1000px;
  }
}
@media (max-width: 750px) {
  .home__container__heading {
    font-size: 38px;
    width: 80%;
  }
  .home__container__info {
    width: 65%;
  }
  .idea__content {
    display: table-column;
    top: 5%;
  }
  .services__card {
    width: 71%;
    margin-bottom: 2em;
  }

  .expertise__img {
    display: none;
  }
  .expertise__content {
    position: relative;
    left: 0;
    width: 95%;
  }
  .expertise__content__card {
    width: 43%;
  }
  .expertise__heading {
    position: relative;
    color: #000;
    left: 0;
    top: 0;
  }
  .footer__right {
    justify-content: center;
  }
  .footer__right__heading__and__tags {
    width: 50%;
  }
  .footer__background img {
    height: 617px;
  }
  .footer__right__heading__and__tags {
    margin-left: 0;
  }
  .form__img img {
    display: none;
  }
  .form__content__right {
    position: relative;
  }
  .form__content__heading {
    color: #000;
  }
  .form__content__left {
    display: none;
  }

  .form__content__right {
    width: 90%;
    left: 5%;
    margin-bottom: 6em;
  }
  .idea {
    margin-bottom: 5em;
    margin-top: 5em;
  }
}
@media (max-width: 750px) {
  .services__background {
    height: 860px;
  }
}
@media (max-width: 600px) {
  .home__container__heading {
    width: 98%;
  }
  .idea__content {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header__nav__link__btn {
    display: none;
  }
  .header__content__nav .header__nav__link__btn {
    display: flex;
    margin-top: 0.5em;
    margin-left: 0em;
  }
  .header__content__overlay {
    top: 5em;
  }
  .home__container__heading {
    width: 75%;
    font-size: 30px;
  }
  .home__container__info {
    width: 75%;
  }
  .home__container__img img {
    height: 500px;
  }
  .idea__content {
    top: 0%;
  }
  .idea__content__info {
    width: 80%;
    margin-top: 1em;
  }

  .idea__content__heading {
    font-size: 32px;
  }
  .expertise__content__card {
    width: 75%;
  }
  .footer {
    background: #000;
  }
  .footer__content {
    width: 100%;
    background-color: #000;
    position: relative;
    padding-top: 3em;
  }
  .footer__right {
    width: 85%;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    padding-left: 1.5em;
  }
  .footer__right__heading__and__tags {
    padding: 0;
  }
  .footer__right__input__button {
    display: flex;
    padding-bottom: 4em;
  }
  .footer__background {
    display: none;
  }
  .office__content__svg {
    width: 75%;
  }
  .office__content__button__one {
    top: 11%;
    left: 10%;
  }
  .office__content__button__two {
    top: 21%;
    left: 3%;
  }
  .office__content__button__three {
    top: 32%;
    left: 0%;
  }

  .office__content__button__four {
    top: 44%;
    left: 0%;
  }
  .office__content__button__five {
    top: 55%;
    left: 1%;
  }
  .office__content__button__six {
    top: 65%;
    left: 5%;
  }

  .office__content__button__one__content {
    top: -40%;
    right: 50%;
    left: 40%;

    z-index: 999;
  }

  .office__content__button__two__content {
    top: -40%;
    right: 50%;
    left: 50%;

    z-index: 999;
  }
  .office__content__button__three__content {
    top: -40%;
    right: 50%;
    left: 50%;
    z-index: 999;
  }
  .office__content__button__four__content {
    top: -40%;
    right: 50%;
    left: 50%;

    z-index: 999;
  }
  .office__content__button__five__content {
    top: -40%;
    right: 50%;
    left: 50%;

    z-index: 999;
  }
  .office__content__button__six__content {
    top: -40%;
    right: 50%;

    left: 50%;

    z-index: 999;
  }
  .office__content__svg {
    height: 700px;
  }
  .form {
    margin-top: 0em;
  }
  .form__content__right__form {
    margin-bottom: 1.5em;
  }
}
@media (max-width: 470px) {
  .header__content__cta .header__content__cta__button {
    display: none;
  }
  .header__content__nav .header__content__cta__button {
    display: flex;
    margin-top: 0.5em;
    width: 100%;
    justify-content: center;
    margin-left: 0em;
  }
  .header__content {
    padding: 1.7em 1em;
  }
  .home__container__heading {
    width: 100%;
  }
  .idea__content__heading {
    font-size: 28px;
  }
  .services___Content {
    top: 8%;
  }

  .services__card {
    width: 83%;
    margin-bottom: 3em;
  }
  .services__background {
    height: 850px;
  }
  .services__heading {
    font-size: 30px;
  }
  .idea__content {
    left: 10%;
  }
  .home__container__content {
    left: 10%;
  }
  .home__container__heading {
    font-size: 25px;
  }
  .home__container__info {
    width: 90%;
  }
  .expertise__heading {
    margin-top: 1em;
  }
  .expertise__content__card {
    width: 75%;
  }
  .expertise__content {
    width: 100%;
    margin-bottom: 4em;
  }
  .expertise__heading {
    font-size: 30px;
  }
  .office__content__heading {
    font-size: 30px;
  }
  .form__content__right__heading {
    font-size: 30px;
  }
  .expertise__content__card:hover {
    scale: 1.1;
  }
  .footer__right__heading__and__tags {
    width: 70%;
  }

  .header__content__overlay__entry {
    margin: 0em;
  }
  .header__content__overlay__content {
    padding: 1em 2em;
  }
}
@media (max-width: 400px) {
  .office__content__button__one {
    top: 11%;
    left: 1%;
  }
  .office__content__button__two {
    top: 21%;
    left: -3%;
  }
  .office__content__button__three {
    top: 32%;
    left: -3%;
  }

  .office__content__button__four {
    top: 44%;
    left: -3%;
  }
  .office__content__button__five {
    top: 55%;
    left: -3%;
  }
  .office__content__button__six {
    top: 65%;
    left: -3%;
  }
  .idea__content__heading {
    width: 80%;
  }
  .services__card {
    width: 85%;
    flex-direction: column;
    margin-bottom: 2em;
  }
  .services__card__svg {
    margin-bottom: 1em;
  }
  .footer__right__input__button button {
    margin-top: 3px;
  }
  .form__content__right__form__input input {
    font-size: 12px;
  }
}
